<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>User</title>
</head>
<body>
  <div class="navbar bg-base-100 container mx-auto px-36">
    <div class="flex-1">
      <a href="/admin" class="btn btn-ghost text-xl">Kesehatan</a>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img
              alt="Tailwind CSS Navbar component"
              src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li>
            <a href="/user/profile" class="justify-between">
              Profile
              <span class="badge">New</span>
            </a>
          </li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-36">
    <h1 class="font-black text-4xl my-20">List Obat</h1>

    <a href="/admin/obat/add" class="btn btn-primary">Tambah Obat</a>

    <div class="overflow-x-auto mt-20">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>No</th>
            <th>Nama Obat</th>
            <th>Category Obat</th>
            <th>Price</th>
            <th>Penyakit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <% drugs.forEach((el, i) => { %>
            <tr>
              <th><%= i + 1 %></th>
              <td><%= el.name %></td>
              <td><%= el.category %></td>
              <td><%= el.formatCurrency %></td>
              <td><%= el.Disease.name %></td>
              <td>
                <a href="/admin/obat/edit/<%= el.id %>" class="btn btn-outline btn-primary rounded-full">Edit</a>
                <a href="/admin/obat/delete/<%= el.id %>" class="btn btn-outline btn-primary rounded-full">Delete</a>
              </td>
            </tr>
           
          <% }) %>
          
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>